header{
	a#logo{
		width: 300px; 
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background: url("../images/ui/logo.svg");
		text-indent: -9999px;
	}
}