header{
	a#logo{
		display: block;
		width: 300px; 
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url("../images/ui/logo.svg");
		text-indent: -9999px;
	}
}