i.icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(100% 100%);
	@include transition($slower $ease);
	&.fb{
		background-image: url(../images/ui/icon-facebook-black.svg);
		&.white{
			background-image: url(../images/ui/icon-facebook-white.svg);
		}
	}
	&.ig{
		background-image: url(../images/ui/icon-instagram-black.svg);
		&.white{
			background-image: url(../images/ui/icon-instagram-white.svg);
		}
	}
	&.tw{
		background-image: url(../images/ui/icon-twitter-black.svg);
		&.white{
			background-image: url(../images/ui/icon-twitter-white.svg);
		}
	}
	&.email{
		background-image: url(../images/ui/icon-envelope-black.svg);
		&.white{
			background-image: url(../images/ui/icon-facebook-white.svg);
		}
	}
	&.next{
		background-image: url(../images/ui/icon-next-white.svg);
		&.black{
			background-image: url(../images/ui/icon-next-black.svg);
		}
	}
	&.prev{
		background-image: url(../images/ui/icon-prev-white.svg);
	}

	&.smaller{
		width: 15px;
		height: 15px;
	}
	&.small{
		width: 25px;
		height: 25px;
	}
	&.large{
		width: 90px;
		height: 90px;
	}
}