$serif: 'Windsor W01', 'Playfair Display', Times, serif;
$sans: 'Simplon', 'Ubuntu', Arial, sans-serif;

/*
$condensed: 'Open Sans Condensed', sans-serif;
$links: "Champion Lightwt A", "Champion Lightwt B", Arial, sans-serif;
$caps: "Gotham A", "Gotham B", Arial, sans-serif;
$book: "Gotham A", "Gotham B", Arial, sans-serif;
*/

@mixin unordered-list{
	list-style: none;
	margin: $pad/2 0 $pad/2 $pad;
	@include breakpoint(mobile){
		margin-left: $pad/2;
	}
	li{
		display: list-item;
		padding-left: 1rem;
		position: relative;
		line-height: 1rem;
	    font-size: .85rem;
	    margin-bottom: .25rem;
	    @include breakpoint(tablet){
			font-size: .75rem;
			line-height: 1.25rem;
		}
		@include breakpoint(mobile){
			font-size: .9rem;
			line-height: 1.3rem;
		}
		&:after {
/*
			content: '';
			height: .45em;
			width: .45em;
			background: $color-green;
			display: block;
			position: absolute;
			transform: rotate(45deg);
			top: .5em;
			left: 0;
*/
		}
	}
}
@mixin ordered-list{
	list-style: decimal-leading-zero;
	margin: $pad/2 0 $pad/2 $pad;
	@include breakpoint(mobile){
		margin-left: $pad/2;
	}
	li{
		display: list-item;
		padding-left: 1rem;
		position: relative;
		line-height: 1rem;
	    font-size: .85rem;
	    margin-bottom: 1rem;
	    @include breakpoint(tablet){
			font-size: .85rem;
			line-height: 1.25rem;
		}
		@include breakpoint(mobile){
			font-size: .9rem;
			line-height: 1.3rem;
		}
	}
}

html {
	font-family: $sans;
	font-size: 100%;
	line-height: 1.2;
	font-weight: 400;
	font-variant-ligatures: common-ligatures;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased !important; 
	font-smoothing: antialiased !important;
	font-size: 22px;
	@include breakpoint(large){font-size: 20px;}
	@include breakpoint(small){font-size: 18px;}
	@include breakpoint(tablet){font-size: 18px;}
	@include breakpoint(mobile){font-size: 18px;}
}
h1 { 
	font-family: $serif;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: .1rem;
	margin-bottom: 1rem;
}
h2 { 
	font-family: $serif;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
h3 { 
	font-family: $serif;
	font-size: .8rem;
	margin-bottom: 1rem;
	@include breakpoint(tablet){font-size: .9rem; line-height: .9rem;}
	@include breakpoint(mobile){font-size: 1rem; line-height: 1rem;}
}
h4{
	font-family: $sans;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
}
h5 { line-height: 1rem;
    margin: 0 0 1rem;
    font-size: .85rem;
    font-family: $sans;
    text-transform: uppercase;
    a{
	    font-size: .85rem;
	    text-transform: uppercase;
	    color: $color-pink;
	    &:hover{
		    opacity: .85!important;
	    }
    }
    @include breakpoint(tablet){
		font-size: .75rem;
		line-height: 1.25rem;
		a{
		    font-size: .75rem;
	    }
	}
	@include breakpoint(mobile){
		font-size: .9rem;
		line-height: 1.3rem;
		a{
		    font-size: .9rem;
	    }
	}
}
h6 { font-size: 0.75rem; }
blockquote{
	color: $color-blue;
	font-style: normal;
	font-family: $sans;
	font-size: 3rem;
	position: relative;
	&:before{
		position: absolute;
	    left: -3rem;
	}
	p{
		font-size: 1.2rem;
		line-height: 1.75rem;
		text-transform: uppercase;
		color: $color-black;
		font-family: $sans;
		font-style: normal;
	}
}
a{
	color: $color-black;
	font-family: $sans;
	line-height: .7rem;
	font-size: .7rem;
	text-decoration: none;
	position: relative;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transition: .25s ease-in-out;
    @include breakpoint(tablet){
		font-size: .85rem;
	}
    @include breakpoint(mobile){
		font-size: .9rem;
	}
	&:visited{
		
	}
	&:hover {
		cursor: pointer;
		opacity: .8;
	}
	&:active{
		
	}
}

p, span, table, address { 
	line-height: 1.35rem;
    margin: 0 0 .5rem 0;
    font-size: .85rem;
    font-family: $sans;
    a{
	    font-size: .85rem;
	    &:hover{
		    opacity: .85!important;
	    }
    }
    @include breakpoint(tablet){
		font-size: .85rem;
		line-height: 1.25rem;
		a{
		    font-size: .85rem;
	    }
	}
	@include breakpoint(mobile){
		font-size: .9rem;
		line-height: 1.3rem;
		a{
		    font-size: .9rem;
	    }
	}
}
p{
	font-weight: 100;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
code, pre, tt {
	font-family: monospace, serif;
	font-size: 1em;
	margin: 1.5em .5em;
}

blockquote {
	font-style: normal;
	font-weight: normal;
	&:before { 
		content: "\201C";
		display: inline-block;
		padding-right: .4em;
	}
	p{
		font-style: normal;
		font-weight: normal;
	}
	@include breakpoint(tablet-portrait){
		margin-top: 3rem;
		&:before{
		    left: 0;
		    top: -2rem;
	    }
	}
}
svg{
    overflow: visible;
    transform-box: fill-box;
	transform-origin: center;
}