$serif: 'Playfair Display', Times, serif;
$sans: 'Ubuntu', Arial, sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;
html {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5rem;
	font-weight: 400;
	font-variant-ligatures: common-ligatures;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased !important; 
	font-smoothing: antialiased !important;
	font-size: 22px;
	@include breakpoint(large){font-size: 20px;}
	@include breakpoint(small){font-size: 18px;}
	@include breakpoint(tablet){font-size: 18px;}
	@include breakpoint(mobile){font-size: 16px;}
}
h1 { font-size: 2rem;}
h2 { font-size: 1.5rem;}
h3 { font-size: 1.17rem;}
h4 { font-size: 1rem;}
h5 { font-size: 0.83rem;}
h6 { font-size: 0.75rem; }
p { 
	line-height: 1.5rem;
    margin: 0 0 1rem 0;
    font-size: .85rem;
}
ol, ul{
	margin-left: $pad/2;
	text-align: left;
	li{
		line-height: 1.5rem;
	    margin: 0 0 .5rem 0;
	    font-size: .85rem;
	}
}

ol{
	list-style: decimal;
}
ul{
	list-style: disc;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
a{
	display: inline-block;
	position: relative;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
	&:visited{
		
	}
	&:hover {
		opacity: .8;
	}
	&:active{
		
	}
/*
	&:after {    
		background: none repeat scroll 0 0 transparent;
		bottom: -5px;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: black;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
	&:hover:after { 
		width: 100%; 
		left: 0; 
	}
*/
}
code, pre, tt {
	font-family: monospace, serif;
	font-size: 1em;
	overflow-x: scroll;
	background-color: rgba(0,0,0,.05);
	margin: $pad 0;
	padding: $pad/2;
}

blockquote {
	font-style: italic;
	&:before { 
		content: "\201C";
		display: inline-block;
		padding-right: .4em;
	}
}