$pad: 30px;
$maxW: 1400px;

$color-white: #ffffff;
$color-black: #231f20;

$shadow:  0 20px 80px -20px #000;
$shadow-small:  0 15px 30px -20px #000;

$slowest: 0.6s;
$slower: 0.3s;
$slow: 0.25s;
$fast: 0.15s;
$ease: cubic-bezier(0.28,0,0.18,1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

.cf{
	overflow: auto;
	zoom: 1;
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@include keyframes(fadeInUp) {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@include keyframes(fadeInRight) {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@include keyframes(fadeInLeft) {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}