div#wrapper {
	@include transition($slowest ease);
	opacity: 0;
	margin: 0 auto;
	position: relative;
	height: auto;
	min-height: 100vh;
	position: relative;
	min-height: 100%;
}
.no-scroll{
	overflow: hidden!important;
}

.loaded {
	div#wrapper {
		opacity: 1;
	}
}