body{

}

div#wrapper {
	@include transition($slowest ease);
	opacity: 0;
	margin: 0 auto;
	position: relative;
// 	max-width: $maxW;
	height: auto;
	min-height: 100vh;
}

.loaded {
	div#wrapper {
		opacity: 1;
	}
}